<div *ngIf="serv.login" style="position: relative;">
    <div class="triangle"></div>
</div>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Proveedores</h1>
            <div class="row">
                <div class="col align-items-center  d-flex flex-row justify-content-between mx-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-decoration-none " routerLink="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Listar proveedores</li>
                        </ol>
                    </nav>
                    <a class=" col-1 btn btn-success my-4" routerLink="/add-edit-supplier/-1/0">Agregar</a>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body" *ngIf="datos?.length==0">
                    <h2 class="h1">No hay proveedores para listar, agregue uno desde el boton de arriba a la derecha</h2>
                </div>
                <div *ngIf="datos && datos.length>0" class="card-body">
                    <table id="datatablesSimple" class="table">
                        <thead>
                            <tr>
                                <th>Logo</th>
                                <th>Código</th>
                                <th>Razon Social</th>
                                <th>web/email/telefono</th>
                                <th>Nombre y apellido</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        
                        <tbody id="contenido-tabla">
                            <tr *ngFor="let data of datos">
                                <td>
                                    <div >
                                        <img (error)="imageNotFound($event)" src="{{data.logo}}" style="width: 100px; aspect-ratio: 1/1; object-fit: contain;" alt="">
                                    </div>
                                </td>
                                <td>{{data.codigo}}</td>
                                <td>{{data.razonSocial}}</td>
                                <td>
                                    <div class="d-flex flex-column ">
                                        <span>{{data.web}}</span>
                                        <span>{{data.email}}</span>
                                        <span>{{data.telefono}}</span>
                                    </div>
                                </td>
                                <td>{{data.personaContacto.nombre}} {{data.personaContacto.apellido}}</td>
                                <td>
                                    <button class="btn btn-sm mx-1  btn-outline-info " [routerLink]="['/add-edit-supplier',data.id, 1]">Detalles</button>
                                    <button class="btn btn-sm mx-1  btn-outline-warning " [routerLink]="['/add-edit-supplier',data.id, 0]">Editar</button>
                                    <button class="btn btn-sm mx-1  btn-outline-danger" (click)="deleteSupplier(data.id, data.razonSocial)">Borrar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </main>
    
</div>