<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Proveedores</h1>
            <div class="row d-flex justify-content-end mx-1">
            <a class=" col-1 btn btn-success my-4" routerLink="/add-edit-supplier/-1/0">Agregar</a>
            </div>
            
            <div class="card mb-4">
                
                <div class="card-body">
                    <table id="datatablesSimple" class="table">
                        <thead>
                            <tr>
                                <th>Logo</th>
                                <th>Código</th>
                                <th>Razon Social</th>
                                <th>web/email/telefono</th>
                                <th>Nombre y apellido</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        
                        <tbody id="contenido-tabla">
                            <tr *ngFor="let data of datos">
                                <td>
                                    <div >
                                        <img (error)="imageNotFound($event)" src="{{data.logo}}" style="width: 100px; aspect-ratio: 1/1; object-fit: contain;" alt="">
                                    </div>
                                </td>
                                <td>{{data.codigo}}</td>
                                <td>{{data.razonSocial}}</td>
                                <td>
                                    <div class="d-flex flex-column ">
                                        <span>{{data.web}}</span>
                                        <span>{{data.email}}</span>
                                        <span>{{data.telefono}}</span>
                                    </div>
                                </td>
                                <td>{{data.personaContacto.nombre}} {{data.personaContacto.apellido}}</td>
                                <td>
                                    <button class="btn btn-sm mx-1  btn-outline-info " [routerLink]="['/add-edit-supplier',data.id, 1]">Detalles</button>
                                    <button class="btn btn-sm mx-1  btn-outline-warning " [routerLink]="['/add-edit-supplier',data.id, 0]">Editar</button>
                                    <button class="btn btn-sm mx-1  btn-outline-danger" (click)="deleteSupplier(data.id)">Borrar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </main>
    
</div>