<div *ngIf="proveedorService.login" style="position: relative;">
    <div class="triangle"></div>
</div>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="my-4">{{titulo}}</h1>
            <div class="row mt-4">
                <div class="col align-items-center  d-flex flex-row justify-content-between mx-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-decoration-none " routerLink="/home">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-decoration-none " routerLink="/listar-proveedores">Listar proveedores</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{titulo}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <form (ngSubmit)="agregar(formulario)" #formulario="ngForm">
                <div class="row mb-3 border-bottom border-2 pb-3">
                    <label for="inputCodigo" class="col-sm-2 col-form-label">Código*</label>
                    <div class="col-sm-10">
                        <input [disabled]="detalles==1" (keyup)="comprobarRepetido(codigo.value, 'codigo')" type="text" class="form-control" id="inputCodigo" [(ngModel)]="proveedor.codigo" minlength="4" maxlength="6" name="codigo" #codigo="ngModel" required>
                        <div class="form-text text-danger " *ngIf="codigoRepetido && codigo.value.length > 0">
                            Este codigo pertenece a otro proveedor.
                        </div>
                        <div class="form-text text-danger " *ngIf="!validarCodigo() && codigo.value?.length > 0">
                            Formato requerido: dos letras y tres números. Ej: AB123.
                        </div>
                        <div class="form-text text-danger " *ngIf="formulario.controls['codigo']?.hasError('required') && mostrarErrores">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="row mb-3 border-bottom  border-2 pb-3">
                    <label for="inputRazonSocial" class="col-sm-2 col-form-label">Razón social*</label>
                    <div class="col-sm-10">
                        <input [disabled]="detalles==1" (keyup)="comprobarRepetido(razonSocial.value, 'razonSocial')" required type="text" class="form-control" id="inputRazonSocial" [(ngModel)]="proveedor.razonSocial" name="razonSocial" minlength="4" maxlength="50" #razonSocial="ngModel">
                        <div class="form-text text-danger " *ngIf="razonSocialRepetida && razonSocial.value.length > 0">
                            Este nombre pertenece a otro proveedor.
                        </div>
                        <div class="form-text text-danger " *ngIf="formulario.controls['razonSocial']?.hasError('minlength') || (mostrarErrores && formulario.controls['razonSocial']?.hasError('required'))">
                            Este campo debe tener entre 4-50 caracteres.
                        </div>
                    </div>
                </div>
                <div class="row mb-3 border-bottom  border-2 pb-3">
                    <label for="inputRubro" class="col-sm-2 col-form-label">Rubro*</label>
                    <div class="col-sm-10 row">
                        <div class="col-4">
                            <select [disabled]="detalles==1" required name="rubro" class="form-select" [(ngModel)]="proveedor.rubroId" #rubro="ngModel">
                                <option disabled value="0">Seleccione un rubro:</option>
                                <option *ngFor="let item of rubros" value="{{item.id}}">{{item.rubro}}</option>
                            </select>
                        </div>
                        <div class="col-sm-8 row">
                            <div class="col-10 row me-2">
                                <label class="col-5 col-form-label">O Agregue uno nuevo:</label>
                                <input class="col form-control" type="text" placeholder="Nuevo rubro" [(ngModel)]="nuevoRubro" name="newIndustry">
                            </div>
                            <button type="button" class="col-2 btn btn-secondary btn-sm" (click)="agregarRubro()">Agregar</button>
                        </div>
                        <div class="form-text text-danger " *ngIf="proveedor.rubroId == 0 && mostrarErrores">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="row mb-3 gy-3 border-bottom border-2">
                    <label class="col-md-2 col-form-label">Sitio web*, email*, teléfono*</label>
                    <div class="col-md-4">
                        <input [disabled]="detalles==1" required type="text" class="form-control" id="inputSitioWeb" placeholder="Sitio web" [(ngModel)]="proveedor.web" name="web" #web="ngModel">
                        <div class="form-text text-danger " *ngIf="!validarURL() && web.value?.length > 0">
                            URL incorrecta.
                        </div>
                        <div class="form-text text-danger " *ngIf="formulario.controls['web']?.hasError('required') && mostrarErrores">
                            Este campo es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input [disabled]="detalles==1" required type="email" class="form-control" id="inputEmail" placeholder="email" [(ngModel)]="proveedor.email" name="email" #email="ngModel">
                        <div class="form-text text-danger " *ngIf="!validarEmail(email.value) && email.value?.length > 0">
                            email incorrecto.
                        </div>  
                        <div class="form-text text-danger " *ngIf="formulario.controls['email']?.hasError('required') && mostrarErrores">
                            Este campo es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input [disabled]="detalles==1" required type="text" oninput="this.value = this.value.replace(/[^0-9+\-]/g, '')" minlength="6" maxlength="20" class="form-control" id="inputTelefono" placeholder="teléfono" [(ngModel)]="proveedor.telefono" name="telefono">
                        <div class="form-text text-danger " *ngIf="formulario.controls['telefono']?.hasError('required') && mostrarErrores">
                            Este campo debe tener entre 6-20 caracteres
                        </div>       
                    </div>
                </div>
                <div class="row mb-3 border-bottom border-2">
                    <label class="col-md-2 col-form-label">Dirección*</label>
                    <div class="col-md-10">
                        <div class="row mb-3 ">
                            <div class="col-4">
                                <select [disabled]="detalles==1" required class="form-select" (change)="onSelectPais()" name="pais" [(ngModel)]="pais">
                                    <option disabled selected value="0">Seleccione un país:</option>
                                    <option *ngFor="let item of paises" value={{item.id}}>{{item.pais}}</option>
                                </select>
                                <div class="form-text text-danger" *ngIf="pais == 0 && mostrarErrores">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                            <div class="col-4">
                                <select [disabled]="detalles==1" required class="form-select " name="inputProvincia" id="inputProvincia" [(ngModel)]="proveedor.provinciaId" name="provincia">
                                    <option disabled selected value="0">Seleccione una provincia:</option>
                                    <option *ngFor="let item of provincias" value={{item.id}}>{{item.provincia}}</option>
                                </select>     
                                <div class="form-text text-danger" *ngIf="proveedor.provinciaId == 0 && mostrarErrores">
                                    Este campo es obligatorio.
                                </div>                                  
                            </div>
                            <div class="col-4">
                                <input [disabled]="detalles==1" required minlength="4" maxlength="50" type="text" class="form-control" id="inputLocalidad" placeholder="Localidad" [(ngModel)]="proveedor.localidad" name="ciudad">
                                <div class="form-text text-danger" *ngIf="formulario.controls['ciudad']?.hasError('required') && mostrarErrores">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-4">
                                <input [disabled]="detalles==1" required minlength="4" maxlength="50" type="text" class="form-control" id="inputCalle" placeholder="Calle" [(ngModel)]="proveedor.calle" name="calle">
                                <div class="form-text text-danger " *ngIf="(formulario.controls['calle']?.hasError('required') && mostrarErrores) || formulario.controls['calle']?.hasError('minlength')">
                                    Este campo debe tener entre 4-50 caracteres.
                                </div>   
                            </div>
                            <div class="col-4">
                                <input [disabled]="detalles==1" required type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="8" class="form-control" placeholder="n°" [(ngModel)]="proveedor.altura" name="numero">
                                <div class="form-text text-danger " *ngIf="(formulario.controls['numero']?.hasError('required') && mostrarErrores)">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                            <div class="col-4">
                                <input [disabled]="detalles==1" required minlength="3" maxlength="10" type="text" class="form-control" id="inputCodigoPostal" placeholder="CP" [(ngModel)]="proveedor.codigoPostal" name="codigoPostal">
                                <div class="form-text text-danger " *ngIf="(formulario.controls['codigoPostal']?.hasError('required') && mostrarErrores) || formulario.controls['codigoPostal']?.hasError('minlength')">
                                    Este campo debe tener entre 3-10 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pb-3 mb-3 border-bottom border-2">
                    <label class="col-md-2 col-form-label">Datos fiscales*</label>
                    <div class="col-md-5">    
                        <input [disabled]="detalles==1" (keyup)="comprobarRepetido(cuit.value, 'cuit')" required oninput="this.value = this.value.replace(/[^0-9\-]/g, '')" [disabled]="inputDesactivado" class="form-control" id="inputCUIT" placeholder="CUIT" [(ngModel)]="proveedor.cuit" name="cuit" #cuit="ngModel">
                        <div class="form-text text-danger " *ngIf="cuitRepetido && cuit.value.length > 0">
                            Este CUIT pertenece a otro proveedor.
                        </div>
                        <div class="form-text text-danger " *ngIf="!validarCUIT() && cuit.value?.length > 0">
                            CUIT incorrecto.
                        </div>
                        <div class="form-text text-danger" *ngIf="formulario.controls['cuit']?.hasError('required') && mostrarErrores">
                            Este campo es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-5">
                        <select [disabled]="detalles==1" required class="form-select " name="inputIVA" id="inputIVA" [(ngModel)]="proveedor.ivaId" name="iva">
                            <option disabled selected value="0">Seleccione una condición:</option>
                            <option *ngFor="let item of ivas" value="{{item.id}}">{{item.iva}}</option>
                        </select> 
                        <div class="form-text text-danger" *ngIf="proveedor.ivaId == 0 && mostrarErrores">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="row mb-3 border-bottom border-2">
                    <label class="col-md-2 col-form-label">Datos de contacto*</label>
                    <div class="col-md-10">
                        <div class="row mb-3 ">
                            <div class="col-4">
                                <input [disabled]="detalles==1" required type="text" class="form-control" id="inputNombre" minlength="2" maxlength="50" placeholder="Nombre" [(ngModel)]="proveedor.contactoNombre" name="nombre">
                                <div class="form-text text-danger " *ngIf="(formulario.controls['nombre']?.hasError('required') && mostrarErrores) || formulario.controls['nombre']?.hasError('minlength')">
                                    Este campo debe tener entre 2-50 caracteres.
                                </div>    
                            </div>
                            <div class="col-4">
                                <input [disabled]="detalles==1" required type="text" class="form-control" id="inputApellido" placeholder="Apellido" [(ngModel)]="proveedor.contactoApellido" name="apellido">
                                <div class="form-text text-danger " *ngIf="(formulario.controls['apellido']?.hasError('required') && mostrarErrores) || formulario.controls['apellido']?.hasError('minlength')">
                                    Este campo debe tener entre 2-50 caracteres.
                                </div>     
                            </div>
                            <div class="col-4">
                                <input [disabled]="detalles==1" required oninput="this.value = this.value.replace(/[^0-9+\-]/g, '')" minlength="6" maxlength="20" type="text" class="form-control" id="inputTelefonoContacto" placeholder="Teléfono" [(ngModel)]="proveedor.contactoTelefono" name="telefonoPersonal">
                                <div class="form-text text-danger " *ngIf="(formulario.controls['telefonoPersonal']?.hasError('required') && mostrarErrores) || formulario.controls['telefonoPersonal']?.hasError('minlength')">
                                    Este campo debe tener entre 6-20 caracteres.
                                </div>         
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-8">
                                <input [disabled]="detalles==1" required type="email" class="form-control" placeholder="email" [(ngModel)]="proveedor.contactoEmail" name="emailPersonal" #emailPersonal="ngModel">
                                    <div class="form-text text-danger " *ngIf="!validarEmail(emailPersonal.value) && emailPersonal.value?.length > 0">
                                        email incorrecto.
                                    </div>  
                                    <div class="form-text text-danger " *ngIf="formulario.controls['emailPersonal']?.hasError('required') && mostrarErrores">
                                        Este campo es obligatorio.
                                    </div>
                                </div>
                            <div class="col-4">
                                <input [disabled]="detalles==1" required type="text" class="form-control" id="inputRol" minlength="4" maxlength="50" placeholder="Rol" [(ngModel)]="proveedor.contactoRol" name="rol">
                                <div class="form-text text-danger " *ngIf="(formulario.controls['rol']?.hasError('required') && mostrarErrores) || formulario.controls['rol']?.hasError('minlength')">
                                    Este campo debe tener entre 4-50 caracteres.
                                </div>   
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row mb-3 border-bottom border-2 pb-3">
                    <label for="inputURL" class="col-sm-2 col-form-label">URL logo*</label>
                    <div class="col-sm-7">
                        <input required [disabled]="detalles==1" type="text" class="form-control" [(ngModel)]="proveedor.urlImagen" name="urlImagen">
                        <div class="form-text text-danger " *ngIf="formulario.controls['urlImagen']?.hasError('required') && mostrarErrores">
                            Este campo es obligatorio.
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <img (error)="imageNotFound($event)" src="{{proveedor.urlImagen}}" alt="logo {{proveedor.razonSocial}}" style="width: 15%; aspect-ratio: 1/1; object-fit: contain;">
                    </div>
                </div>
                <div class="row">
                        <div class=" d-flex flex-row">
                            <button *ngIf="detalles!=1" class="btn btn-primary me-4" type="submit" [disabled]="cuitRepetido || codigoRepetido || razonSocialRepetida" [ngClass]="{'opacity-50': !formularioValido || !formulario.valid}">{{agregarOEditar}}</button>
                            <button *ngIf="detalles!=1" type="button" class="btn btn-danger me-3" [disabled]="id!=-1" (click)="formulario.reset()">Limpiar</button>        
                            <button class="btn btn-warning" routerLink="/listar-proveedores">Volver atrás</button>
                        </div>
                </div>
            </form>    
            </div>
    </main>
    
</div>