<main class="container-fluid px-4" id="layoutSidenav_content">
        <h1 class="mt-4">Ordenes de compra</h1>
        <nav class="row ms-1">
            <nav class="row">
                <ol class="breadcrumb col-11 align-items-center">
                    <li class="breadcrumb-item"><a class="text-decoration-none text-indigo" routerLink="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Listar ordenes</li>
                </ol>
                <a class="btn btn-success my-4 col-1" routerLink="/ordenes/0">Agregar</a>
            </nav>
        </nav>
        <section class="row mb-3">
            <div class="col-3">
                <span>Filtrar por proveedor:</span>
                <select class="form-select col-2" [(ngModel)]="filtroProveedor">
                    <option value="">Todos</option>
                    <option *ngFor="let proveedor of proveedores" [value]="proveedor.razonSocial" [ngClass]="{'text-secondary': !proveedor.estado}">{{proveedor.razonSocial}}</option>
                </select>
            </div>
            <div class="col-2" role="group">
                <span>Ordenar por:</span>
                <select class="form-select" (change)="ordenar()" [(ngModel)]="orden">
                    <option value="">N° de Orden</option>
                    <option value="asc">Menor precio</option>
                    <option value="desc">Mayor precio</option>
                </select>
            </div>
            <div class="btn-group pt-4 col-2 offset-5 pe-3">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="activosOEliminados(true)">
                <label class="btn btn-sm btn-outline-secondary pt-2" for="btnradio1">Activas</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="activosOEliminados(false)">
                <label class="btn btn-sm  btn-outline-secondary pt-2" for="btnradio3">Canceladas</label>
            </div>
        </section>
        <section class="row d-flex justify-content-end mx-1">
            <div *ngIf="estado && ordenes.length == 0">
                <h2 class="h1 border py-2">No hay ordenes para listar</h2>
                <a class="btn btn-lg btn-success my-4 col-1" routerLink="/ordenes/0">Agregar</a>
            </div>
            <h2 *ngIf="!estado && ordenes.length == 0" class="h1 border py-2">No hay ordenes canceladas para listar</h2>
            <div *ngIf="ordenes.length>0" class="row bg-body-secondary text-body-tertiary shadow-sm fw-semibold rounded-3 py-2 px-4 mx-0 mb-3 bg-opacity-50  ">
                <label class="col-1 ps-0">Orden n°</label>
                <label class="col-3 ps-0">Fecha de emisión</label>
                <label class="col-3 ps-0">Fecha de entrega esperada</label>
                <label class="col-2 ps-0">Proveedor</label>
                <label class="col-2 ps-0">Total</label>
                <label class="col-1 ps-0 text-center">Acciones</label>
            </div>

            <ul class="mt-2 p-0">
                <li class="row align-items-center fw-medium text-secondary-emphasis shadow border-1 border-secondary-subtle border bg-white py-2 px-4 mb-2 mx-0 rounded-3" *ngFor="let orden of ordenes | filtroOrdenPipe: filtroProveedor">
                    <label class="col-1 ps-0">{{orden.id}}</label>
                    <label class="col-3 ps-0">{{orden.fechaEmision | date:"dd MMM, yyyy 'a las ' hh:mm a"}}</label>
                    <label class="col-3 ps-0">{{orden.fechaEntrega | date:'dd MMM, yyyy'}}</label>
                    <label class="col-2 ps-0">{{orden.proveedor}}</label>
                    <label class="col-2 ps-0">${{orden.total}}</label>
                    <div class="col-1 ps-0 text-center">
                        <button [routerLink]="['/ordenes',orden.id,'detalles']" class="btn btn-outline-info btn-sm me-2"><img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/22C3E6/visible.png" alt="visible"/></button>
                        <button *ngIf="orden.estado" (click)="modificarEstadoOrden(orden)" class="btn btn-outline-danger btn-sm "><img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FA5252/multiply.png" alt="multiply"/></button>
                        <button *ngIf="!orden.estado" (click)="modificarEstadoOrden(orden)" class="btn btn-outline-danger btn-sm "><img width="20" height="20" src="https://img.icons8.com/sf-black/64/FA5252/return.png" alt="return"/></button>
                    </div>
                </li>
            </ul>
        </section>
</main>