<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="my-4">Agregar proveedor</h1>  
            <form class="col-12">
                <div class="row mb-3">
                  <label for="inputCodigo" class="col-sm-2 col-form-label">Código</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputCodigo">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputRazonSocial" class="col-sm-2 col-form-label">Razón social</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputRazonSocial">
                  </div>
                </div>
                <div class="row mb-3">
                    <label for="inputRubro" class="col-sm-2 col-form-label">Rubro</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputRubro">
                    </div>
                </div>
                <div class="row mb-3 gy-3 ">
                    <label class="col-md-2 col-form-label">Sitio web, email, teléfono</label>
                    <div class="col-md-4">
                          <input type="text" class="form-control" id="inputSitioWeb" placeholder="Sitio web">
                    </div>
                    <div class="col-md-3">
                          <input type="email" class="form-control" id="inputEmail" placeholder="email">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="inputTelefono" placeholder="teléfono">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Dirección</label>
                    <div class="col-md-10">
                        <div class="row mb-3 ">
                            <div class="col-4">
                                <input type="text" class="form-control" id="inputCalle" placeholder="Calle">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" id="inputNumeroCalle" placeholder="n°">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" id="inputCodigoPostal" placeholder="CP">
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-4">
                                <select class="form-select " name="inputPais" id="inputPais">
                                    <option value="Argentina">Argentina</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Argentina">Argentina</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-select " name="inputProvincia" id="inputProvincia">
                                    <option value="Argentina">Argentina</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Argentina">Argentina</option>
                                </select>                                       
                            </div>
                            <div class="col-4">
                                <select class="form-select " name="inputLocalidad" id="inputLocalidad">
                                    <option value="Argentina">Argentina</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Argentina">Argentina</option>
                                </select>                                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 ">
                    <label class="col-md-2 col-form-label">Datos fiscales</label>
                    <div class="col-md-5">
                          <input type="text" class="form-control" id="inputCUIT" placeholder="CUIT">
                    </div>
                    <div class="col-md-5">
                          <input type="email" class="form-control" id="inputIVA" placeholder="Condición IVA">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Datos de contacto</label>
                    <div class="col-md-10">
                        <div class="row mb-3 ">
                            <div class="col-4">
                                <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" id="inputApellido" placeholder="Apellido">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" id="inputTelefonoContacto" placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <div class="col-8">
                                <input type="text" class="form-control" id="inputEmailContacto" placeholder="Email">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" id="inputRol" placeholder="Rol">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-primary" id="agregar">Agregar</button>
        </div>
    </main>
    
</div>