<div *ngIf="servSupplier.login" style="position: relative;">
    <div class="triangle"></div>
</div>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Productos/Servicios</h1>
            <div class="row">
                <div class="col align-items-center  d-flex flex-row justify-content-between mx-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-decoration-none " routerLink="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Listar productos</li>
                        </ol>
                    </nav>
                    <a class=" col-1 btn btn-success my-4 " routerLink="/add-edit-product/-1/0">Agregar</a>
                </div>
            </div>
            <div class="row d-flex justify-content-end mx-1">
            </div>
            
            <div class="card mb-4">
                <div class="card-body" *ngIf="datos.length==0">
                    <h2 class="h1">No hay productos para listar, agregue uno desde el boton de arriba a la derecha</h2>
                </div>
                <div *ngIf="datos.length>0" class="card-body">
                    <table id="datatablesSimple" class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre del producto</th>
                                <th>Categoría</th>
                                <th>Proveedor</th>
                                <th>Precio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="contenido-tabla">
                            <tr *ngFor="let data of datos">
                                <div >
                                    <img (error)="imageNotFound($event)" src="{{data.img}}" style="width: 100px; aspect-ratio: 1/1; object-fit: contain;" alt="">
                                </div>
                                <td>{{data.name}}</td>
                                <td>{{data.category}}</td>
                                <td>{{data.supplierName}}</td>
                                <td>{{data.price}}</td>
                                <td>
                                    <button class="btn btn-sm mx-1  btn-outline-info " [routerLink]="['/add-edit-product',data.id,1]">Detalles</button>
                                    <button class="btn btn-sm mx-1  btn-outline-warning " [routerLink]="['/add-edit-product',data.id,0]">Editar</button>
                                    <button class="btn btn-sm mx-1  btn-outline-danger" (click)="deleteProduct(data.id)">Borrar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    
</div>