
<main id="layoutSidenav_content" class="container-fluid px-4">
    <h1 class="mt-4">Productos/Servicios</h1>
    <nav class="row ms-1">
        <nav class="row">
            <ol class="breadcrumb col-11 align-items-center">
                <li class="breadcrumb-item"><a class="text-decoration-none text-indigo" routerLink="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listar productos</li>
            </ol>
            <a class=" col-1 btn btn-success my-4 " routerLink="/productos/0">Agregar</a>
        </nav>
    </nav>
    <section class="container mb-4 row mx-0 px-0">
        <div class="col-2 ps-0">
            <span>Buscar:</span>
            <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="filtro">        
        </div>
        <div class="col-3">
            <span>Filtrar por categoría:</span>
            <select class="form-select col-2" (change)="filtrar()" [(ngModel)]="filtroCategoria">
                <option value="0">Todas</option>
                <option *ngFor="let categoria of categorias" [value]="categoria.id" [ngClass]="{'text-secondary': !categoria.estado}">{{categoria.categoria}}</option>
            </select>
        </div>
        <div class="col-3">
            <span>Filtrar por proveedor:</span>
            <select class="form-select col-2" (change)="filtrar()" [(ngModel)]="filtroProveedor">
                <option value="0">Todos</option>
                <option *ngFor="let proveedor of proveedores" [value]="proveedor.id" [ngClass]="{'text-secondary': !proveedor.estado}">{{proveedor.razonSocial}}</option>
            </select>
        </div>
        <div class="col-2" role="group">
            <span>Ordenar por:</span>
            <select class="form-select" (change)="ordenar()" [(ngModel)]="ascdesc">
                <option value="">Nombre</option>
                <option value="asc">Menor precio</option>
                <option value="desc">Mayor precio</option>
            </select>
        </div>
        <div class="btn-group col-2 text-end mt-4 pe-0" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="activosOEliminados(true)">
            <label class="btn btn-sm btn-outline-secondary pt-2" for="btnradio1">Activos</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="activosOEliminados(false)">
            <label class="btn btn-sm  btn-outline-secondary pt-2" for="btnradio3">Deshabilitados</label>
        </div>
    </section>
    
    <section class="mb-4">
        <h2 *ngIf="estado && productos.length == 0" class="h1 ps-2 py-2">No hay productos para listar, agregue uno desde el boton de arriba a la derecha</h2>
        <h2 *ngIf="!estado && productos.length == 0" class="h1 ps-2 py-2">No hay productos deshabilitados para listar</h2>
        
        <div *ngIf="productos.length>0" class="row bg-body-secondary text-body-tertiary shadow-sm fw-semibold rounded-3 py-2 px-4 mx-0 mb-3 bg-opacity-50  ">
            <label class="col-1 ps-0 pe-4">Imagen</label>
            <label class="col-3 ps-3">SKU | Producto</label>
            <label class="col-3 ps-0">Categoría</label>
            <label class="col-1 ps-0">Precio</label>
            <label class="col-2 ps-0">Proveedor</label>
            <label class="col-2 ps-0 text-center">Acciones</label>
        </div>
        
        <ul class="mt-2 p-0">
            <li class="row align-items-center fw-medium text-secondary-emphasis shadow border-1 border-secondary-subtle border bg-white py-3 px-4 mb-2 mx-0 rounded-3" *ngFor="let producto of productos | filtroProductosPipe:filtro">
                <img class="col-1 ps-0 pe-4" (error)="imageNotFound($event)" src="{{producto.imagen_url}}">
                <label class="col-3 ps-3">{{producto.codigo}} | {{producto.nombre}}</label>
                <label class="col-3 ps-0" [ngClass]="{'text-secondary': buscarCategoria(producto)}">{{producto.categoria}}<label *ngIf="buscarCategoria(producto)">(deshabilitada)</label></label>
                <label class="col-1 ps-0">${{producto.precio}}</label>
                <label class="col-2 ps-0" [ngClass]="{'text-secondary': proveedorDesactivado(producto.proveedorId)}">{{producto.proveedor}}<label *ngIf="proveedorDesactivado(producto.proveedorId)" >(desactivado)</label></label>
                <div class="col-2 ps-0 text-center">
                    <button class="btn btn-sm mx-1  btn-outline-info " [routerLink]="['/productos',producto.id,'detalles']"><img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/22C3E6/visible.png" alt="visible"/></button>
                    <button class="btn btn-sm mx-1  btn-outline-warning " [routerLink]="['/productos',producto.id]"><img width="20" height="20" src="https://img.icons8.com/material-outlined/24/FAB005/edit--v1.png" alt="edit--v1"/></button>
                    <button *ngIf="estado" class="btn btn-sm mx-1  btn-outline-danger" (click)="modificarEstadoProducto(producto)"><img width="20" height="20" src="https://img.icons8.com/material-rounded/24/FA5252/filled-trash.png" alt="filled-trash"/></button>
                    <button *ngIf="!estado" class="btn btn-sm mx-1  btn-outline-danger" (click)="modificarEstadoProducto(producto)"><img width="20" height="20" src="https://img.icons8.com/sf-black/64/FA5252/return.png" alt="return"/></button>
                </div>
            </li>
        </ul>
    </section>
</main>