<div *ngIf="serv.login" class="position-sticky top-0 start-0">
<div id="layoutSidenav_nav" class="">
    <nav class="vh-100 sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="h2 p-4 text-decoration-none" routerLink="">Sistema de compras</a>
                <div class="sb-sidenav-menu-heading">Proveedores</div>
                <a class="nav-link" routerLink="listar-proveedores">
                    <div class="sb-nav-link-icon"></div>
                    Listar
                </a><a class="nav-link" routerLink="add-edit-supplier/-1/0">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Agregar
                </a>
                <div class="sb-sidenav-menu-heading">Productos/Servicios</div>
                <a class="nav-link" routerLink="/listar-productos">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Listar
                </a><a class="nav-link" routerLink="add-edit-product/-1/0">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Agregar
                </a>
                <div class="sb-sidenav-menu-heading">Orden de compra</div>
                <a class="nav-link" routerLink="listar-ordenes">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Listar
                </a><a class="nav-link" routerLink="agregar-orden/-1/0">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Agregar
                </a>
            </div>
        </div>
        
    </nav>
</div>

</div>