<div id="layoutSidenav_nav">
    <nav class="min-vh-100 sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="h2 p-4 text-decoration-none" routerLink="">Sistema de compras</a>
                <div class="sb-sidenav-menu-heading">Proveedores</div>
                <a class="nav-link" routerLink="listar-proveedores">
                    <div class="sb-nav-link-icon"></div>
                    Listar
                </a><a class="nav-link" routerLink="agregar-proveedor">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Agregar
                </a>
                <div class="sb-sidenav-menu-heading">Productos/Servicios</div>
                <a class="nav-link" routerLink="listar-productos">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Listar
                </a><a class="nav-link" routerLink="agregar-producto">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Agregar
                </a>
                <div class="sb-sidenav-menu-heading">Orden de compra</div>
                <a class="nav-link" routerLink="listar-ordenes">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Listar
                </a><a class="nav-link" routerLink="agregar-orden">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Agregar
                </a>
            </div>
        </div>
        
    </nav>
</div>