<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="my-4">Agregar producto/servicio</h1>  
            <form class="col-12">
                <div class="row mb-3">
                    <label for="selectProveedor" class="col-sm-2 col-form-label">Proveedor</label>
                    <div class="col-sm-10">
                        <select class="form-select " name="selectProveedor" id="selectProveedor">
                            <option value="Argentina">Argentina</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Argentina">Argentina</option>
                        </select>                              
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputCodigo" class="col-sm-2 col-form-label">Código/SKU</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputCodigo">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="selectCategoria" class="col-sm-2 col-form-label">Categoría</label>
                    <div class="col-sm-10">
                        <select class="form-select " name="selectCategoria" id="selectCategoria">
                            <option value="Argentina">Argentina</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Argentina">Argentina</option>
                        </select>                              
                    </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNombreProducto" class="col-sm-2 col-form-label">Nombre del producto</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputNombreProducto">
                  </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDescripcion" class="col-sm-2 col-form-label">Descripción</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputDescripcion">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPrecio" class="col-sm-2 col-form-label">Precio</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputPrecio">
                    </div>
                </div>
            </form>
            <button class="btn btn-primary" id="agregar">Agregar</button>
        </div>
    </main>
    
</div>