<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="my-4">{{title}} producto/servicio</h1>  
            <div class="row mt-4">
                <div class="col align-items-center  d-flex flex-row justify-content-between mx-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-decoration-none " routerLink="/home">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-decoration-none " routerLink="/listar-productos">Listar productos</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{title}} producto/servicio</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <form (ngSubmit)="agregar(formulario)" #formulario="ngForm">

                <div class="row mb-3">
                    <label for="inputCodigo" class="col-sm-2 col-form-label">Código/SKU*</label>
                    <div class="col-sm-10">
                        <input (keyup)="comprobarRepetido(codigo)" [disabled]="details == 1" required type="text" class="form-control" id="inputCodigo" minlength="3" maxlength="6" [(ngModel)]="product.code" name="codigo" #codigo="ngModel">
                        <div class="form-text text-danger" *ngIf="codigoRepetido && codigo.value.length > 0">
                            El código ingresado pertenece a otro producto.
                        </div>
                        <div class="form-text text-danger " *ngIf="(formulario.controls['codigo']?.hasError('required') && mostrarErrores) || formulario.controls['codigo']?.hasError('minlength')">
                            Este campo debe tener entre 3-6 caracteres.
                        </div>
                    </div>
                </div>    
                <div class="row mb-3">
                    <label for="selectCategoria" class="col-sm-2 col-form-label">Categoría*</label>
                    <div class="col-sm-10">
                        <select [disabled]="details == 1" required class="form-select " name="categoria" id="selectCategoria" [(ngModel)]="product.category">
                            <option disabled value="">Seleccione una categoría:</option>
                            <option *ngFor="let item of categoriesList" value={{item}}>{{item}}</option>
                        </select> 
                        <div class="form-text text-danger" *ngIf="formulario.controls['categoria']?.hasError('required') && mostrarErrores">
                            Este campo es obligatorio.
                        </div>             
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputNombreProducto" class="col-sm-2 col-form-label">Nombre del producto*</label>
                    <div class="col-sm-10">
                        <input minlength="4" maxlength="50" [disabled]="details == 1" required type="text" class="form-control" id="inputNombreProducto" [(ngModel)]="product.name" name="nombre">
                        <div class="form-text text-danger " *ngIf="formulario.controls['nombre']?.hasError('minlength') || (mostrarErrores && formulario.controls['nombre']?.hasError('required'))">
                            Este campo debe tener entre 4-50 caracteres.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDescripcion" class="col-sm-2 col-form-label">Descripción*</label>
                    <div class="col-sm-10">
                        <textarea required class="form-control" [disabled]="details == 1" name="descripcion" id="" cols="30" rows="3" [(ngModel)]="product.description" minlength="10" maxlength="250"></textarea>
                        <div class="form-text text-danger " *ngIf="formulario.controls['descripcion']?.hasError('minlength') || (mostrarErrores && formulario.controls['descripcion']?.hasError('required'))">
                            Este campo debe tener entre 10-250 caracteres.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPrecio" class="col-sm-2 col-form-label">Precio*</label>
                    <div class="col-sm-10">
                        <input [disabled]="details == 1" required type="number" min="1" max="9999999" class="form-control" id="inputPrecio" [(ngModel)]="product.price" name="precio">
                        <div class="form-text text-danger " *ngIf="product.price == null && mostrarErrores || formulario.controls['precio']?.hasError('min') || formulario.controls['precio']?.hasError('max')">
                            El precio debe ser mayor o igual a 1 y menor a 10 millones.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="selectProveedor" class="col-sm-2 col-form-label">Proveedor*</label>
                    <div class="col-sm-10">
                        <select [disabled]="details == 1" required class="form-select " name="proveedor" id="selectProveedor" [(ngModel)]="product.supplierName">
                            <option disabled value="">Seleccione un proveedor:</option>
                            <option *ngFor="let item of suppliersList" value={{item.razonSocial}}>{{item.razonSocial}}</option>
                        </select>
                        <div class="form-text text-danger" *ngIf="formulario.controls['proveedor']?.hasError('required') && mostrarErrores">
                            Este campo es obligatorio.
                        </div>                     
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="url" class="col-sm-2 col-form-label">imagen</label>
                    <div class="col-sm-7">
                        <input [disabled]="details == 1" type="text" class="form-control" id="url" [(ngModel)]="product.img" name="url">
                    </div>
                    <div class="col-sm-3">
                        <img (error)="imageNotFound($event)" src="{{product.img}}" alt="{{product.name}}" style="width: 15%; aspect-ratio: 1/1; object-fit: contain;">
                    </div>
                </div>
                <div *ngIf="details != 1">
                    <div class="row">
                        <div class="col-1">
                            <button [ngClass]="{'opacity-50': formulario.invalid || codigoRepetido}" type="submit" class="btn btn-primary" id="agregar">{{agregarOEditar}}</button>
                        </div>
                        <div *ngIf="showAlert" class="col-4">
                            <div class="alert alert-success d-flex justify-content-evenly align-items-center " role="alert">
                                <div *ngIf="id==-1">
                                    Producto creado con éxito.
                                </div>
                                <div *ngIf="id!=-1">
                                    Producto modificado con éxito.
                                </div>
                                <div>
                                    <button class="btn btn-success " routerLink="/listar-productos"><img width="10" height="10" src="https://img.icons8.com/ios/50/delete-sign.png" alt="delete-sign"/></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="details == 1">
                    <button class="btn btn-warning " routerLink="/listar-productos">Volver atrás</button>
                </div>
            </form>
        </div>
    </main>
    
</div>