<main id="layoutSidenav_content" class="container-fluid px-4 ">
    <h1 class="mt-4">Proveedores</h1>
    <nav class="row ms-1">
        <nav class="row">
            <ol class="breadcrumb col-11 align-items-center">
                <li class="breadcrumb-item"><a class="text-decoration-none text-indigo" routerLink="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listar proveedores</li>
            </ol>
            <a class=" col-1 btn btn-success my-4" routerLink="/proveedores/0">Agregar</a>
        </nav>
    </nav>
    <section class="col row mb-3">
        <div class="col-7">
            <span>Buscar:</span>
            <input class="form-control" type="text" placeholder="Buscar por razon social y/o código..." [(ngModel)]="filtro">
        </div>
        <div class="col-3">
            <span>Ordenar por:</span>
            <select class="form-select " [(ngModel)]="orden" (change)="ordenar()">
                <option selected value="">Código</option>
                <option value="razonSocial">Razón social</option>
                <option value="asc">País ascendente</option>
                <option value="desc">País descendente</option>
            </select>
        </div>    
        <div class="col-2 btn-group text-end mt-4" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="activosOEliminados(true)">
            <label class="btn btn-sm btn-outline-secondary pt-2" for="btnradio1">Activos</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="activosOEliminados(false)">
            <label class="btn btn-sm  btn-outline-secondary pt-2" for="btnradio3">Deshabilitados</label>
        </div>
    </section>
    <section class="mb-4">
        <h2 *ngIf="estado && proveedores?.length == 0" class="h1 ps-2 py-2">No hay proveedores para listar, agregue uno desde el boton de arriba a la derecha</h2>
        <h2 *ngIf="!estado && proveedores?.length == 0" class="h1 ps-2 py-2">No hay proveedores deshabilitados para listar</h2>
        <div *ngIf="proveedores?.length != 0" class="row bg-body-secondary text-body-tertiary shadow-sm fw-semibold rounded-3 py-2 px-4 mx-0 mb-3 bg-opacity-50  ">
            <label class="col-1 ps-0 pe-4">Logo</label>
            <label class="col-1 ps-3">Código</label>
            <label class="col-2 ps-0">Razón Social</label>
            <label class="col-2 ps-0">Ubicación</label>
            <label class="col-2 ps-0">Nombre y apellido</label>
            <label class="col-2 ps-0 text-center">web/email/telefono</label>
            <label class="col-2 ps-0 text-center">Acciones</label>
        </div> 

        <ul class="mt-2 p-0">
            <li class="row align-items-center fw-medium text-secondary-emphasis shadow border-1 border-secondary-subtle border bg-white py-3 px-4 mb-2 mx-0 rounded-3" *ngFor="let proveedor of proveedores | filtroProveedoresPipe:filtro">
                <img class="col-1 ps-0 pe-4" (error)="imageNotFound($event)" src="{{proveedor.urlImagen}}">
                <label class="col-1 ps-3">{{proveedor.codigo}}</label>
                <label class="col-2 ps-0">{{proveedor.razonSocial}}</label>
                <label class="col-2 ps-0">{{proveedor.pais}}, {{proveedor.provincia}}</label>
                <label class="col-2 ps-0">{{proveedor.contactoNombre}} {{proveedor.contactoApellido}}</label>
                <label class="col-2 ps-0 d-flex flex-row justify-content-evenly">
                    <div>
                        <button class="btn btn-sm" placement="top" [ngbTooltip]="tooltipEmail" (click)="copiar(proveedor.email, 'email')">
                            <img class="mx-2" width="24" height="24" src="https://img.icons8.com/material-rounded/24/new-post.png" alt="new-post"/>
                        </button>
                        <button class="btn btn-sm" [ngbTooltip]="tooltipWeb" (click)="copiar(proveedor.web, 'web')">
                            <img class="mx-2" width="24" height="24" src="https://img.icons8.com/material-outlined/24/domain.png" alt="domain"/>
                        </button>
                        <button class="btn btn-sm" [ngbTooltip]="tooltipTelefono" (click)="copiar(proveedor.telefono, 'telefono')">
                            <img class="mx-2" width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/phone--v1.png" alt="phone--v1"/>                                    
                        </button>
                        <ng-template #tooltipEmail>
                            <p *ngIf="!emailCopiado" class="fw-normal mb-1 text-nowrap text-center">{{proveedor.email}}</p>
                            <p *ngIf="emailCopiado" class="fw-normal mb-1 text-nowrap text-center">copiado!</p>
                        </ng-template>
                        <ng-template #tooltipWeb>
                            <p *ngIf="!webCopiada" class="fw-normal mb-1 text-nowrap text-center">{{proveedor.web}}</p>
                            <p *ngIf="webCopiada" class="fw-normal mb-1 text-nowrap text-center">copiado!</p>
                        </ng-template>
                        <ng-template #tooltipTelefono>
                            <p *ngIf="!telefonoCopiado" class="fw-normal mb-1 text-nowrap text-center">{{proveedor.telefono}}</p>
                            <p *ngIf="telefonoCopiado" class="fw-normal mb-1 text-nowrap text-center">copiado!</p>
                        </ng-template>
                    </div>
                </label>
                <label class="col-2 ps-0 d-flex flex-row justify-content-center ">
                    <button class="btn btn-sm mx-1  btn-outline-info " [routerLink]="['/proveedores',proveedor.id,'detalles']"><img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/22C3E6/visible.png" alt="visible"/></button>
                    <button class="btn btn-sm mx-1  btn-outline-warning " [routerLink]="['/proveedores',proveedor.id]"><img width="20" height="20" src="https://img.icons8.com/material-outlined/24/FAB005/edit--v1.png" alt="edit--v1"/></button>
                    <button *ngIf="estado" class="btn btn-sm mx-1  btn-outline-danger" (click)="modificarEstadoProveedor(proveedor)"><img width="20" height="20" src="https://img.icons8.com/material-rounded/24/FA5252/filled-trash.png" alt="filled-trash"/></button>
                    <button *ngIf="!estado" class="btn btn-sm mx-1  btn-outline-danger" (click)="modificarEstadoProveedor(proveedor)"><img width="20" height="20" src="https://img.icons8.com/sf-black/64/FA5252/return.png" alt="return"/></button>
                </label>
            </li>
        </ul>
    </section>
</main>