<div *ngIf="proveedorService.login" style="position: relative;">
    <div class="triangle"></div>
</div>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Proveedores</h1>
            <div class="row">
                <div class="col align-items-center  d-flex flex-row justify-content-between mx-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-decoration-none " routerLink="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Listar proveedores</li>
                        </ol>
                    </nav>
                    <div class="col-4">
                        <input class="form-control" type="text" placeholder="Buscar por razon social y/o código..." [(ngModel)]="filtro">
                        <div class="btn-group text-end" role="group" aria-label="orden de precio">
                            <input type="radio" class="btn-check" name="orden" id="codigo" autocomplete="off" checked (click)="modificarOrden('')">
                            <label class="btn btn-sm btn-outline-secondary " for="codigo">Código</label>
                            <input type="radio" class="btn-check" name="orden" id="razonSocial" autocomplete="off" (click)="modificarOrden('razonSocial')">
                            <label class="btn btn-sm btn-outline-secondary " for="razonSocial">Razón social</label>
                            <input type="radio" class="btn-check" name="orden" id="asc" autocomplete="off" (click)="modificarOrden('asc')">
                            <label class="btn btn-sm  btn-outline-secondary " for="asc">Pais ASC</label>
                            <input type="radio" class="btn-check" name="orden" id="desc" autocomplete="off" (click)="modificarOrden('desc')">
                            <label class="btn btn-sm  btn-outline-secondary " for="desc">Pais DESC</label>
                        </div>    
                    </div>
                    <a class=" col-1 btn btn-success my-4" routerLink="/proveedores/0">Agregar</a>
                </div>
            </div>
            <div class="container text-end my-3">
                <div class="btn-group text-end" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="activosOEliminados(true)">
                    <label class="btn btn-sm btn-outline-secondary " for="btnradio1">Activos</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="activosOEliminados(false)">
                    <label class="btn btn-sm  btn-outline-secondary " for="btnradio3">Deshabilitados</label>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body" *ngIf="proveedores?.length==0">
                    <h2 *ngIf="estado" class="h1">No hay proveedores para listar, agregue uno desde el boton de arriba a la derecha</h2>
                    <h2 *ngIf="!estado" class="h1">No hay proveedores deshabilitados para listar</h2>
                </div>
                <div *ngIf="proveedores && proveedores.length>0" class="card-body">
                    <table id="datatablesSimple" class="table">
                        <thead>
                            <tr>
                                <th>Logo</th>
                                <th>Código</th>
                                <th>Razón Social</th>
                                <th>Ubicación</th>
                                <th>Nombre y apellido</th>
                                <th>web/email/telefono</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        
                        <tbody id="contenido-tabla">
                            <tr *ngFor="let proveedor of proveedores | filtroProveedoresPipe:filtro">
                                <td>
                                    <div >
                                        <img (error)="imageNotFound($event)" src="{{proveedor.urlImagen}}" style="width: 100px; aspect-ratio: 1/1; object-fit: contain;" alt="">
                                    </div>
                                </td>
                                <td class="align-middle ">{{proveedor.codigo}}</td>
                                <td class="align-middle ">{{proveedor.razonSocial}}</td>
                                <td class="align-middle ">{{proveedor.pais}}, {{proveedor.provincia}}</td>
                                <td class="align-middle ">{{proveedor.contactoNombre}} {{proveedor.contactoApellido}}</td>
                                <td class="align-middle ">
                                    <div>
                                        <button class="btn btn-sm" placement="top" [ngbTooltip]="tooltipEmail" (click)="copiar(proveedor.email, 'email')">
                                            <img class="mx-2" width="24" height="24" src="https://img.icons8.com/material-rounded/24/new-post.png" alt="new-post"/>
                                        </button>
                                        <button class="btn btn-sm" [ngbTooltip]="tooltipWeb" (click)="copiar(proveedor.web, 'web')">
                                            <img class="mx-2" width="24" height="24" src="https://img.icons8.com/material-outlined/24/domain.png" alt="domain"/>
                                        </button>
                                        <button class="btn btn-sm" [ngbTooltip]="tooltipTelefono" (click)="copiar(proveedor.telefono, 'telefono')">
                                            <img class="mx-2" width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/phone--v1.png" alt="phone--v1"/>                                    
                                        </button>
                                        <ng-template #tooltipEmail>
                                            <p *ngIf="!emailCopiado" class="fw-normal mb-1 text-nowrap text-center">{{proveedor.email}}</p>
                                            <p *ngIf="emailCopiado" class="fw-normal mb-1 text-nowrap text-center">copiado!</p>
                                        </ng-template>
                                        <ng-template #tooltipWeb>
                                            <p *ngIf="!webCopiada" class="fw-normal mb-1 text-nowrap text-center">{{proveedor.web}}</p>
                                            <p *ngIf="webCopiada" class="fw-normal mb-1 text-nowrap text-center">copiado!</p>
                                        </ng-template>
                                        <ng-template #tooltipTelefono>
                                            <p *ngIf="!telefonoCopiado" class="fw-normal mb-1 text-nowrap text-center">{{proveedor.telefono}}</p>
                                            <p *ngIf="telefonoCopiado" class="fw-normal mb-1 text-nowrap text-center">copiado!</p>
                                        </ng-template>

                                    </div>
                                </td>
                                <td class="align-middle ">
                                    <button class="btn btn-sm mx-1  btn-outline-info " [routerLink]="['/proveedores',proveedor.id,'detalles']"><img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/22C3E6/visible.png" alt="visible"/></button>
                                    <button class="btn btn-sm mx-1  btn-outline-warning " [routerLink]="['/proveedores',proveedor.id]"><img width="20" height="20" src="https://img.icons8.com/material-outlined/24/FAB005/edit--v1.png" alt="edit--v1"/></button>
                                    <button *ngIf="estado" class="btn btn-sm mx-1  btn-outline-danger" (click)="modificarEstadoProveedor(proveedor)"><img width="20" height="20" src="https://img.icons8.com/material-rounded/24/FA5252/filled-trash.png" alt="filled-trash"/></button>
                                    <button *ngIf="!estado" class="btn btn-sm mx-1  btn-outline-danger" (click)="modificarEstadoProveedor(proveedor)"><img width="20" height="20" src="https://img.icons8.com/sf-black/64/FA5252/return.png" alt="return"/></button>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </main>
    
</div>