<main id="layoutSidenav_content">
    <div class="container-fluid px-4 mb-5">
        <h1 class="ms-1 row my-3 col d-flex flex-row justify-content-between ">{{agregarODetalles}} orden de compra</h1>  
        <nav class="row mt-4 col align-items-center  d-flex flex-row justify-content-between mx-1" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none text-indigo" routerLink="/home">Home</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none text-indigo" routerLink="/ordenes">Listar ordenes</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{agregarODetalles}} orden de compra</li>
            </ol>
        </nav>
        <form (ngSubmit)="agregar(formulario)" #formulario="ngForm">
            <section class="row">
                <span *ngIf="detalles==0" class="col text-danger mt-2 mb-4">*Obligatorio</span>
                <div *ngIf="!orden.estado && id != 0" class="text-end mb-4 col">
                    <span class="me-2 fs-5 align-text-top text-danger">La orden se encuentra cancelada: </span>
                    <button type="button" class="btn btn-success " (click)="activarOrden()">Activar orden</button>
                </div>
            </section>
            <section *ngIf="id!=0" class="row mb-3 border-bottom  border-2 pb-3">
                <span for="inputNumeroOrden" class="col-sm-2 col-form-label">Número de orden</span>
                <div class="col-sm-10">
                    <input [disabled]="detalles!=0" type="text" class="col-sm-10 form-control" id="inputNumeroOrden" [(ngModel)]="id" name="numeroOrden">    
                </div>
            </section>
            <section class="row mb-3 border-bottom  border-2 pb-3">
                <span for="inputFechaEmision" class="col-sm-2 col-form-label">Fecha de emisión</span>
                <div class="col-sm-10">
                    <input disabled type="text" class="form-control" id="inputFechaEmision" [(ngModel)]="fechaEmision" name="fechaEmision">                        
                </div>
            </section>
            <section class="row mb-3 border-bottom  border-2 pb-3">
                <label for="inputFechaEntrega" class="col-sm-2 col-form-label">Fecha de entrega esperada<label *ngIf="detalles==0" class="text-danger ">*</label></label>
                <div class="col-sm-10">
                    <input *ngIf="id==0" required [disabled]="detalles!=0" [min]="fechaMinima" type="date" class="form-control" id="inputFechaEntrega" [(ngModel)]="orden.fechaEntrega" name="fechaEntrega" >
                    <input *ngIf="id!=0" required disabled [min]="fechaMinima" type="date" class="form-control" id="inputFechaEntrega" [(ngModel)]="fechaFormateada" name="fechaEntrega" >
                    <small class="form-text text-danger" *ngIf="comprobarFecha() && mostrarErrores">
                        La fecha de entrega estimada debe ser mayor o igual a la fecha de emisión.
                    </small>   
                </div>
            </section>
            <section class="row mb-3 border-bottom  border-2 pb-3">
                <span for="inputFechaEntrega" class="col-sm-2 col-form-label">Detalles de entrega<label *ngIf="detalles==0" class="text-danger ">*</label></span>
                    <div class="col-sm-10">
                        <textarea minlength="10" placeholder="ej: Dejar en la puerta" maxlength="250" required [disabled]="detalles!=0" class="form-control " name="info" cols="30" rows="3" [(ngModel)]="orden.info"></textarea>
                        <small class="form-text text-danger " *ngIf="formulario.controls['info']?.hasError('minlength') || (mostrarErrores && formulario.controls['info']?.hasError('required'))">
                            Este campo debe tener entre 10-250 caracteres.
                        </small>
                    </div>
            </section>
            <section class="row mb-3 border-bottom  border-2 pb-3">
                <span for="selectProveedor" class="col-sm-2 col-form-label">Proveedor<label *ngIf="detalles==0" class="text-danger ">*</label></span>
                <figure class="col-sm-8">
                    <select class="col" required [disabled]="detalles!=0 || orden.detalles.length > 0" [ngClass]="{'form-select': detalles==0, 'form-control': detalles ==1}" name="selectProveedor" id="selectProveedor" (change)="onSelectProveedor($event)" [(ngModel)]="orden.proveedorId">
                        <option disabled value=0 >Seleccione un proveedor:</option>
                        <option *ngFor="let proveedor of proveedores" value="{{proveedor.id}}">{{proveedor.razonSocial}}</option>
                        <option *ngIf="detalles!=0" value="{{orden.proveedor}}">{{orden.proveedor}}</option>
                    </select> 
                </figure>
                <img class="col-sm-2" (error)="imageNotFound($event)" src="{{url}}" alt="{{orden.proveedor}}" style="width: 6%; aspect-ratio: 1/1; object-fit:contain; position:relative; bottom:20px ">
                <small class="form-text text-danger" *ngIf="formulario.controls['selectProveedor']?.hasError('required') && mostrarErrores">
                    Este campo es obligatorio.
                </small>       
            </section>
            <section *ngIf="detalles!=1" class="row mb-3 border-bottom  border-2 pb-3 me-1">
                <span for="selectProductos" class="col-sm-2 col-form-label">Productos<label *ngIf="detalles==0" class="text-danger ">*</label></span>
                <div class="col-sm-8">
                    <select [disabled]="detalles!=0 || productos === undefined || orden.proveedorId==0" class="form-select " name="selectProductos" id="selectProductos" [(ngModel)]="productoId">
                        <option disabled value=0>Seleccione un producto:</option>
                        <option *ngFor="let producto of productos" value={{producto.id}}>{{producto.nombre}}</option>
                    </select>              
                    <small class="form-text text-danger" *ngIf="orden.total==0 && mostrarErrores">
                        Debe agregar un producto como mínimo.
                    </small>
                </div>
                <div class="col-sm-1">
                    <input [disabled]="detalles!=0" class="form-control" type="number" name="cantidad" placeholder="cant" min="1" max="999" [(ngModel)]="cantidad">
                </div>
                <button type="button" [disabled]="detalles!=0" class="btn btn-primary col-1 px-1" (click)="agregarProducto()">Añadir</button>
            </section>
            <section class="row mb-3 border-bottom  border-2 pb-3">
                <span class="col-sm-2 col-form-label">Subtotal</span>
                <div class="col-sm-6 d-flex flex-column">
                    <table class="table table-borderless col-6 d-flex flex-column">
                        <tbody>
                            <tr *ngFor="let detalle of orden.detalles">
                                <td class="align-text-top h4">{{detalle.producto}}</td>
                                <td class="align-text-top h5">${{detalle.precio_unitario}}(x{{detalle.cantidad}})</td>
                                <td class="align-text-top h5">${{detalle.precio_unitario! * detalle.cantidad}}</td>
                                <td><button *ngIf="detalles!=1" class="btn btn-sm m-0 btn-danger " (click)="deleteProduct(detalle.productoId)">Borrar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="row mb-3  border-bottom  border-2 pb-3">
                <span class="col-sm-2 col-form-label">Total</span>
                <p class="h4 col-10">${{orden.total}}</p>
            </section>
            <section class="row">
                <figure class="col d-flex flex-row ">
                    <button *ngIf="detalles != 1" [ngClass]="{'opacity-50': formulario.invalid || orden.total==0 || orden.fechaEntrega< orden.fechaEntrega}" type="submit" class="btn btn-primary me-3" id="agregar">Agregar</button>
                    <button *ngIf="detalles != 1" type="button" class="btn btn-danger me-3" [disabled]="id!=0" (click)="limpiarDetalles()">Limpiar</button>            
                    <button class="btn btn-warning " routerLink="/ordenes">Volver atrás</button>
                </figure>
            </section>
            
        </form>
    </div>
</main>
