<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Ordenes de compra</h1>
            <div class="row d-flex justify-content-end mx-1">
                <a class=" col-1 btn btn-success my-4 " href="add-ordenes.html">Agregar</a>
            </div>
            
            <div class="card mb-4">
                
                <div class="card-body">
                    <table id="datatablesSimple" class="table">
                        <thead>
                            <tr>
                                <th>Número de orden</th>
                                <th>Fecha de emisión</th>
                                <th>Fecha de entrega esperada</th>
                                <th>Proveedor</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        
                        <tbody id="contenido-tabla">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    
</div>